<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="referrer" content="no-referrer" />
    <title>XX</title>
    <link rel="icon" href="images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../backend/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="styles/main.css" />

  </head>
  <body>
    <div  id="main" class="app sss">
      <div v-if="first" class="wavy">
        <!-- --i是自定义属性，可通过var函数调用 -->
        <span style="--i:1;">l</span>
        <span style="--i:2;">o</span>
        <span style="--i:3;">a</span>
        <span style="--i:4;">d</span>
        <span style="--i:5;">i</span>
        <span style="--i:6;">n</span>
        <span style="--i:7;">g</span>

      </div>
      <div v-else>
        <div class="divHead">
          <img src="images/user.png" @click="toUserPage"/>
        </div>
        <div class="divTitle">
          <div class="divStatic">
            <img src="images/logo.png" class="logo"/>
            <div class="divDesc">
              <div id="divName" class="divName">{{getStoreName}}</div>
              <div class="divSend">
                  <span><img src="images/time.png"/> 距离1.5km</span>
                  <span><img src="images/money.png"/> 配送费6元</span>
                  <span><img src="images/location.png"/> 预计时长12min</span>
              </div>
            </div>
          </div>
          <div id="introller" class="divDesc">
            简介:{{getStoreName}}中餐厅是XX点餐的独立的品牌，定位“大众 化的美食外送餐饮”，旨为顾客打造专业美食。
          </div>
        </div>
        <div class="divBody">
          <div class="divType">
            <ul>
              <li v-for="(item,index) in categoryList" :key="index" @click="categoryClick(index,item.id,item.type)" :class="{active:activeType === index}">{{item.name}}</li>
            </ul>
          </div>
          <div class="divMenu">
            <div>
              <div class="divItem" v-for="(item,index) in dishList" :key="index" @click="dishDetails(item)">
                <el-image :src="imgPathConvert(item.image)" >
                  <div slot="error" class="image-slot">
                    <img src="images/noImg.png"/>
                  </div>
                </el-image>
                <div>
                  <div class="divName">{{item.name}}</div>
                  <div class="divDesc">{{item.description}}</div>
                  <div class="divDesc">{{'销量' + (String(item.saleNum)==='null' ? 0 : item.saleNum)  }}</div>
                  <div class="divBottom"><span>￥</span><span>{{item.price}}</span></div>
                  <div class="divNum">
                    <div class="divSubtract" v-if="item.number > 0">
                      <img src="images/subtract.png" @click.prevent.stop="subtractCart(item)"/>
                    </div>
  <!--                  <div class="divDishNum">{{item.number}}</div>-->
                    <div class="divTypes" @click.prevent.stop="chooseFlavorClick(item)">选择规格</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="divLayer">
          <div class="divLayerLeft"></div>
          <div class="divLayerRight"></div>
        </div>
        <div class="divCart" v-if="categoryList.length > 0">
            <div :class="{imgCartActive: cartData && cartData.length > 0, imgCart:!cartData || cartData.length<1}" @click="openCart"></div>
            <div :class="{divGoodsNum:1===1, moreGoods:cartData && cartData.length > 99}" v-if="cartData && cartData.length > 0">{{ goodsNum }}</div>
            <div class="divNum">
                <span>￥</span>
                <span>{{goodsPrice}}</span>
            </div>
            <div class="divPrice"></div>
            <div :class="{btnSubmitActive: cartData && cartData.length > 0, btnSubmit:!cartData || cartData.length<1}" @click="toAddOrderPage">去结算</div>
          </div>
          <van-dialog v-model="dialogFlavor.show" :show-confirm-button="false" class="dialogFlavor" ref="flavorDialog">
            <div class="dialogTitle">{{dialogFlavor.name}}</div>
            <!--标题之下，底部价格以上-->
            <div class="divContent">
              <div v-for="flavor in dialogFlavor.flavors" :key="flavor.id">
                  <div class="divFlavorTitle">{{flavor.name}}</div>
                  <span v-for="item in flavor.value"

                  :key="item"
                  @click="flavorClick(flavor,item)"
                  :class="{spanActive:flavor.dishFlavor === item}"
                  >{{item}}</span>
              </div>
              <div class="divFlavorTitle">
                数量:<div class="需要动画" @click="numberClick(0,dialogFlavor)">-</div>{{dialogFlavor.number}}<div class="需要动画" @click="numberClick(1,dialogFlavor)">+</div>
              </div>

            </div>
            <div class="divBottom">
              <div><span class="spanMoney">￥</span>{{dialogFlavor.price}}</div>
              <div @click="dialogFlavorAddCart">加入购物车</div>
            </div>
            <div class="divFlavorClose" @click="dialogFlavor.show = false">
              <img src="images/close.png"/>
            </div>
          </van-dialog>
          <van-popup v-model="cartDialogShow" position="bottom" :style="{ height: '50%' }" class="dialogCart">
            <div class="divCartTitle">
              <div class="title">购物车</div>
              <div class="clear" @click="clearCart">
                <i class="el-icon-delete"></i> 清空
              </div>
            </div>
            <div class="divCartContent">
              <div v-for="item in cartData" :key="item.id" class="divCartItem">
                <el-image :src="item.image" >
                  <div slot="error" class="image-slot">
                    <img src="images/noImg.png"/>
                  </div>
                </el-image>
                <div class="divDesc">
                  <div class="name">{{item.name}}</div>
                  <div class="price">
                    <span class="spanMoney">￥</span>{{item.amount}}
                  </div>
                </div>
                <div class="dishFlavor">
                  <div class="yellowSpan" v-for="span in (item.dishFlavor.split(','))">{{span}}</div>
                </div>
                <div class="divNum">
                  <div class="divSubtract">
                    <img src="images/subtract.png" @click="cartNumberSubtract(item,0)"/>
                  </div>
                  <div class="divDishNum">{{item.number}}</div>
                  <div class="divAdd">
                    <img src="images/add.png" @click="cartNumberSubtract(item,1)"/>
                  </div>
                </div>
                <div class="divSplit"></div>
                </div>
              </div>
          </van-popup>
          <van-dialog v-model="detailsDialog.show"
                      :show-confirm-button="false"
                      class="detailsDialog"
                      ref="detailsDialog"
                      v-if="detailsDialog.show"
                      >
            <div class="divContainer">
              <!--只在菜品时显示-->
              <el-image v-if="String(detailsDialog.item.type)==='1'" :src="imgPathConvert(detailsDialog.item.image)" >
                <div slot="error" class="image-slot">
                  <img src="images/noImg.png"/>
                </div>
              </el-image>
              <div class="title">{{detailsDialog.item.name}}</div>
              <div class="content">{{detailsDialog.item.description}}</div>
              <div class="setMealDetailsDialog"  v-if="String(detailsDialog.item.type)==='2'" style="border: 0.5px solid #4b4b4b;border-radius: 5px;padding: 5px 5px 5px 5px;">
                <div class="divContainer">
                  <div>套餐包含</div>
                  <div class="item" v-for="(item,index) in detailsDialog.item.list.dishResults" :key="index">
                    <!--                <el-image src="images/noImg.png">-->
                    <!--                  <div slot="error" class="image-slot">-->
                    <!--                    <img src="images/noImg.png"/>-->
                    <!--                  </div>-->
                    <!--                </el-image>-->
                    <div class="divSubTitle">
                      <el-image style="width: 40px;" :src="item.image"></el-image>
                      <span>{{item.name + '(' + item.copies + '份)' }}</span>
                      <div class="divPrice">
                        <span>￥</span><span>{{item.price}}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="divNum">
              <div class="left">
                <div v-if="String(detailsDialog.item.type)==='1'">
                  <span >￥</span><span>{{detailsDialog.item.price}}</span>
                </div>
                <div v-else>
                  <span style="font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;">仅售</span><span>￥</span><span>{{detailsDialog.item.price}}</span>
                </div>
              </div>
              <div class="right">
                  <div class="divSubtract" v-if="detailsDialog.item.number > 0">
                    <img src="images/subtract.png" @click="subtractCart(detailsDialog.item)"/>
                  </div>
                  <!--<div class="divDishNum">数量:{{detailsDialog.item.number}}</div>并入选择规格中加-->
                  <!--不在判断是否存在口味，没有就不显示v-if="detailsDialog.item.flavors && detailsDialog.item.flavors.length > 0 && !detailsDialog.item.number "-->
                  <div class="divTypes"  @click ="chooseFlavorClick(detailsDialog.item)">选择规格</div>
  <!--                <div class="divAdd" v-else>-->
  <!--                  <img src="images/add.png" @click="addCart(detailsDialog.item)"/>-->
  <!--                </div>-->
              </div>
            </div>
            <div class="detailsDialogClose" @click="detailsDialog.show = false">
              <img src="images/close.png"/>
            </div>
          </van-dialog>
  <!--        <van-dialog v-model="setMealDialog.show" -->
  <!--                    :show-confirm-button="false" -->
  <!--                    class="setMealDetailsDialog" -->
  <!--                    ref="setMealDetailsDialogd"-->
  <!--                    v-if="setMealDialog.show"-->
  <!--                    >-->
  <!--          <div class="divContainer">-->
  <!--            <div class="title">{{setMealDialog.item.list.name}}</div>-->
  <!--&lt;!&ndash;            <div>{{setMealDialog.item.type}}</div>&ndash;&gt;-->
  <!--            <div class="content">{{setMealDialog.item.list.description}}</div>-->
  <!--            -->
  <!--            </div>-->
  <!--          <div class="divNum">-->
  <!--              <div class="left">-->
  <!--              </div>-->
  <!--              <div class="right">-->
  <!--                  <div class="divSubtract" v-if="setMealDialog.item.number > 0">-->
  <!--                    <img src="images/subtract.png" @click="subtractCart(setMealDialog.item)"/>-->
  <!--                  </div>-->
  <!--                  <div class="divDishNum">{{setMealDialog.item.number}}</div>-->
  <!--                  <div class="divAdd" v-if="setMealDialog.item.number">-->
  <!--                    <img src="images/add.png" @click="addCart(setMealDialog.item)"/>-->
  <!--                  </div>-->
  <!--&lt;!&ndash;                  <div class="addCart"  @click="addCart(setMealDialog.item)" v-if="!setMealDialog.item.number">加入购物车</div>&ndash;&gt;-->
  <!--                  <div class="divTypes" v-if="setMealDialog.item.flavors && setMealDialog.item.flavors.length > 0 && !setMealDialog.item.number " @click ="chooseFlavorClick(setMealDialog.item)">选择规格</div>-->
  <!--                  <div class="divAdd" v-else>-->
  <!--                    <img src="images/add.png" @click="addCart(setMealDialog.item)"/>-->
  <!--                  </div>-->
  <!--              </div>-->
  <!--          </div>-->
  <!--          <div class="detailsDialogClose" @click="setMealDialog.show = false">-->
  <!--            <img src="images/close.png"/>-->
  <!--          </div>-->
  <!--        </van-dialog>-->
      </div>
    </div>

        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../backend/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../backend/plugins/element-ui/index.js"></script>
        <!-- 引入vant样式 -->
        <script src="js/vant.min.js"></script>
        <!-- 引入axios -->
        <script src="../backend/plugins/axios/axios.min.js"></script>
        <script src="js/request.js"></script>
        <script src="js/common.js"></script>
        <script src="api/main.js"></script>
        <script src="js/params.js"></script>
  </body>
  <script>
    var thats;
      new Vue({
          el:'#main',
          data(){
            return {
              first:true,
              //左边菜品类别index
              activeType:0,
              categoryList:[],
              categoryId:undefined,
              dishList:[],
              cartData:[],
              dialogFlavor:{
                name:'',
                flavors:[],
                id:undefined,//可能是dishId,也可能是setmealId
                price:undefined,
                show:false,
                image:'',
                bfitem:undefined,
                number:1,//购物车里的数量
              },
              cartDialogShow:false,
              detailsDialog:{
                show:false,
                item:{image:''}
              },
              // setMealDialog:{
              //   show:false,
              //   item:{}
              // },
              storeId:'',
              storeStatus:'',
              storeName:'',
            }
          },
          computed:{
            goodsNum(){
              let num = 0
              this.cartData.forEach(item=>{
                num += item.number 
              })
              if(num <99){
                return num
              }else{
                return '99+'
              }
            },
            goodsPrice(){
              let price = 0
              this.cartData.forEach(item=>{
                price += (Number(item.number) * Number(Number(item.amount).toFixed(2)))
              })
              return Number(price.toFixed(2))
            },
            getStoreName(){
              return this.storeName
            }
          },
          created(){
            this.first = true;
            var url = window.location.href ;             //获取当前url
            var dz_url = url.split('#')[0];                //获取#/之前的字符串
            var cs = dz_url.split('?')[1];                //获取?之后的参数字符串
            if (cs==undefined){
              console.log("未知门店");
              window.top.location.href = '../front/page/no-params.html'
            }else {
              var cs_arr = cs.split('&');                    //参数字符串分割为数组
              var cs={};
              for(var i=0;i<cs_arr.length;i++){         //遍历数组，拿到json对象
                cs[cs_arr[i].split('=')[0]] = cs_arr[i].split('=')[1]
              }
              if ((cs.storeId==undefined)){
                console.log("未知门店");
                window.top.location.href = '../front/page/no-params.html'
              }
            }
            this.storeId = cs.storeId;
            console.log(cs.storeId);
            thats = this
            var timeoutIds;
            var _this = this
            timeoutIds = setTimeout(function () {
              _this.first = false;
              // document.getElementById("main").removeAttribute("style");
              // document.getElementById("main").style.height = "100%"
              document.getElementById("main").classList.remove("sss")
            }, 500);

          },
          watch:{
            'dialogFlavor.show'(flag){
              if(flag){
                document.querySelector('.divCart').style.zIndex = 1
              }else{
                document.querySelector('.divCart').style.zIndex = 3000
              }
            },
            'storeId'(){
              this.updataStore()
            },
            'dialogFlavor.number'(){
              if (this.dialogFlavor.number===1){
                //显示-禁止样式
                document.querySelector('.需要动画').style.background = "rgba(173,173,173,0.85)"

              }else if (this.dialogFlavor.number>=1){
                document.querySelector('.需要动画').style.background = "#ffffff"
                //都允许点
              }else if (this.dialogFlavor.number>=99){
                document.querySelector('.需要动画').style.background = "#959096"
              }
            }
          },
          mounted(){
            this.initData()
          },
          methods:{
            //初始化数据
            async initData() {
              const res = await categoryListApi(this.storeId);
                if (String(res.code) === '1') {
                  console.log(res)
                  this.categoryList = res.data
                  if (Array.isArray(res.data) && res.data.length > 0) {
                    this.categoryId = res.data[0].id
                    if (String(res.data[0].type) === '1') {
                      //获取菜品列表
                      this.getDishList()
                    } else {
                      //获取套餐列表
                      // this.getSetmealData()
                    }
                  }
                } else {
                  this.$notify({type: 'warning', message: res.msg});
                }

                //获取购物车信息
                let params = {}
                params.storeId = String(this.storeId)
                const resa = await cartListApi(params);
                if (String(resa.code) === '1') {
                  console.log(resa)
                  this.cartData = resa.data
                } else {
                  this.$notify({type: 'warning', message: resa.msg});
                }
              // Promise.all([, cartListApi({})]).then(res => {
              //   //获取分类数据
              //   if (String(res[0].code) === '1') {
              //     console.log(res)
              //     this.categoryList = res[0].data
              //     if (Array.isArray(res[0].data) && res[0].data.length > 0) {
              //       this.categoryId = res[0].data[0].id
              //       if (String(res[0].data[0].type) === '1') {
              //
              //         this.getDishList()
              //       } else {
              //         this.getSetmealData()
              //       }
              //     }
              //   } else {
              //     this.$notify({type: 'warning', message: res[0].msg});
              //   }
              //   //获取菜品数据
              //   if (res[1].code === 1) {
              //     this.cartData = res[1].data
              //   } else {
              //     this.$notify({type: 'warning', message: res[1].msg});
              //   }
              // })
            },
            //分类点击
            categoryClick(index,id,type){
              this.activeType = index
              this.categoryId = id
              if(type === 1){//菜品
                this.getDishList()
              }else{
                this.getSetmealData()
              }
            },
            //更新商店
            async updataStore() {
              sessionStorage.setItem("storeId",this.storeId)//缺点，必须从首页进入
              const res = await getStoreInfo(this.storeId)
              if (String(res.code)==='1'){
                document.title = res.data.name
                document.getElementById('introller').setHTML(res.data.introduction)
                this.storeName = res.data.name
                document.getElementById('divName').setHTML(res.data.name)
                this.storeStatus = String(res.data.status)
              }else {
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            //获取菜品数据
            async getDishList(){
              if(!this.categoryId){
                return
              }
              if (!this.storeId){
                return
              }
              const res = await dishListApi({storeId:this.storeId,categoryId:this.categoryId})
              if(String(res.code) === '1'){
                let dishList = res.data
                const cartData  = this.cartData
                if(dishList.length > 0 && cartData.length > 0){
                  dishList.forEach(dish=>{
                    //购物车数据请求做完后得合并
                    // cartData.forEach(cart=>{
                    //   if(dish.id === cart.dishId){
                    //     dish.number = cart.number//同步购物车里的数量
                    //   }
                    // })
                    dish.number = 0
                  })
                }
                dishList.forEach(dish=>{
                  const flavors = dish.flavors;
                  if (flavors.length>0){
                    for (let i=0; i< flavors.length; i++){

                      let str = flavors[i].value;
                      console.log("0:"+str)
                      str = str.replace(/\[|]/g,'')
                      console.log("1:"+str)
                      const ass = str.split(", ");
                      console.log("3"+ass)
                      flavors[i].value = str.split(", ")//json问题
                      console.log(flavors[i].value)
                    }
                    console.log(dish.flavors)
                    dish.flavors = flavors
                  }

                })
                this.dishList = dishList



              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            //获取套餐数据setmealId
            async getSetmealData(){
              if(!this.categoryId){
                return
              }
              const res = await setmealListApi({storeId:this.storeId,categoryId:this.categoryId})
              if(res.code === 1){
                  let dishList = res.data
                  const cartData  = this.cartData
                  if(dishList.length > 0 && cartData.length > 0){
                    dishList.forEach(dish=>{
                      // cartData.forEach(cart=>{
                      //   if(dish.id === cart.setmealId){
                      //     dish.number = cart.number
                      //   }
                      // })
                      dish.number = 0
                    })
                  }
                dishList.forEach(dish=>{
                  const flavors = dish.flavors;
                  if (flavors.length>0){
                    for (let i=0; i< flavors.length; i++){

                      let str = flavors[i].value;
                      console.log("0:"+str)
                      str = str.replace(/\[|]/g,'')
                      console.log("1:"+str)
                      const ass = str.split(", ");
                      console.log("3"+ass)
                      flavors[i].value = str.split(", ")//json问题
                      console.log(flavors[i].value)
                    }
                    console.log(dish.flavors)
                    dish.flavors = flavors
                  }

                })
                  this.dishList = dishList
              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            //获取购物车数据
            async getCartData(){
              let params = {}
              params.storeId = String(this.storeId)
              const res = await cartListApi(params)
              if(res.code === 1){
                this.cartData = res.data
              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            //菜单中往购物车中添加商品
            async addCart(item){
              console.log("------传入addCart------")
              console.log(item)
              let params = {
                // amount:item.price,//金额
                dishFlavor:item.dishFlavor,//口味  如果没有传undefined
                dishId:undefined,//菜品id
                setmealId:undefined,//套餐id
                type:item.type,
                number:item.number,
                version:item.version,
                storeId:this.storeId
              }

              if(String(item.type)==='1'){//表示是菜品Array.isArray(item.flavors)
                params.dishId = item.dishId
              }else if (String(item.type)==='2'){//表示套餐 套餐没有口味
                params.setmealId = item.setmealId
              }
              const res = await addCartApi(params)
              if(res.code === 1){
                this.dishList.forEach(dish=>{
                  if(dish.id === item.id){
                    dish.number = res.data.number
                  }
                })
                // if(this.setMealDialog.show){
                //   item.number = res.data.number
                // }
                this.getCartData()
              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },

            //菜单中减少选中的商品
            async subtractCart(item){
                let params = {
                  dishId:item.id,
                }
                if(!Array.isArray(item.flavors)){
                  params = {
                    setmealId:item.id,
                  }
                }
                const res = await updateCartApi(params)
                if(res.code === 1){
                this.dishList.forEach(dish=>{
                  if(dish.id === item.id){
                    dish.number = (res.data.number === 0 ? undefined : res.data.number)
                  }
                })
                // if(this.setMealDialog.show){
                //   item.number = (res.data.number === 0 ? undefined : res.data.number)
                // }
                this.getCartData()
                }else{
                  this.$notify({ type:'warning', message:res.msg});
                }
            },
            
            //展开购物车
            openCart(){
              if(this.cartData.length > 0){
                this.cartDialogShow = true
              }
            },
            //购物车中增加商品数量
            async cartNumAdd(item){
              let params = {
                amount:item.amount,//金额
                dishFlavor:item.dishFlavor,//口味  如果没有传undefined
                dishId:item.dishId,//菜品id
                setmealId:item.setmealId,//套餐id
                name:item.name,
                image:item.image
              }
              const res = await addCartApi(params)
              if(res.code === 1){
                this.dishList.forEach(dish=>{
                  if(dish.id === (item.dishId || item.setmealId)){
                    dish.number = res.data.number
                  }
                })
                console.log(this.dishList)
                this.getCartData()
              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            //购物车中减少商品数量
            async cartNumberSubtract(item,type){
              let params = {
                id:item.id

              }
              if (type==0){
                if (item.number<=1){
                  return
                }
                params.number = item.number-1
              }
              if (type==1){
                if (item.number>=99){
                  return
                }
                params.number = item.number+1
              }
              const res = await updateCartApi(params)
              if(res.code === 1){
              this.getCartData()
              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            
            //修改商品列表中的数据number
            changeDishList(item){
              for(let ele of this.dishList){
                if(ele.id === (item.setmealId || item.dishId)){
                  ele.number = item.number
                }
              }
            },
            
            //清空购物车
            async clearCart(){
                let params = {}
                params.storeId = String(this.storeId)
                const res = await clearCartApi(params)
                if(String(res.code) === '1'){
                  // 重新请求列表数据和购物车数据
                  this.cartData = []
                  this.cartDialogShow = false
                  this.$notify({ type:'success', message:res.msg});
                  await this.initData();
                }else{
                  this.$notify({ type:'warning', message:res.msg});
                }
            },
            //点击选择规格
            chooseFlavorClick(item){
              console.log("---------选择规格了--------")
              console.log(item)
              console.log("---------输出完毕---------")
              this.dialogFlavor = {
                name:'',
                flavors:[],
                id:undefined,
                price:undefined,
                show:false,
                bfitem: undefined,
                number:1,
              }


              // this.dialogFlavor.flavors =
              this.dialogFlavor={
                name:item.name,
                flavors:item.flavors,
                id:item.id,//提交订单以后端数据为准，价格等等都以后端为准，菜品和套餐都有版本号，匹配版本号有没有改变
                price:item.price,
                show:true,//显示
                image:item.image,
                bfitem:item,
                number:1
              }
              // console.log(this.dialogFlavor.flavors)
            },
            flavorClick(flavor,item){
              flavor.dishFlavor = item//这个标记了选中的口味，后面会遍历list，就找这个value
              //强制刷新dialog的dom
              this.dialogFlavor.show = false
              this.dialogFlavor.show = true
            },
            numberClick(type,item){
              if (item.number==undefined||item.number==null){
                item.number == 1
              }
              if (type===0){
                //减1
                if (item.number==1){
                  this.$notify({ type: 'warning', message: "数量已经最小了" })
                  return;
                }
                item.number = item.number - 1
                return;
              }else if (type===1){
                //加1
                if (item.number>=99){
                  this.$notify({ type: 'warning', message: "数量已经最大了" })
                  return;
                }
                item.number = item.number + 1
                return;
              }
            },
            //选择规格加入购物车
            dialogFlavorAddCart(){
              const dialogFlavor = this.dialogFlavor
              let flag = true
              let dishFlavor = []
              let errModel = ""
              let isHaveErrModel = false;
              dialogFlavor.flavors.forEach(item=>{
                if(item.dishFlavor){
                  dishFlavor.push(item.dishFlavor)
                }
                else{
                      flag = false
                  errModel = errModel + "," + String(item.name)
                  isHaveErrModel = true;
                }
              })
              if(flag){
                //保证有的必须全选
                console.log("-------------开始输出(添加到购物车)-------------")
                console.log(dialogFlavor)
                console.log("-------------输出完成(添加到购物车)-------------")
                let data = {
                  dishFlavor:dishFlavor.join(","),
                  flavors:[],
                  type:dialogFlavor.bfitem.type,
                  number:dialogFlavor.number,
                  version:dialogFlavor.bfitem.version
                }
                if (String(dialogFlavor.bfitem.type)==='1'){
                  //dish
                  data.dishId = dialogFlavor.bfitem.id
                }else {
                  //setmeal
                  data.setmealId = dialogFlavor.bfitem.id
                }
                this.addCart(data)
                this.dialogFlavor.show = false
              }
              if (isHaveErrModel===true){
                this.$notify({ type: 'warning', message: '请选择'+ errModel });
              }

              
            },
            //网络图片路径转换
            imgPathConvert(path){
              // return imgPath(path)
              // console.log("图片:"+path)
              return path
            },
            //跳转到去结算界面
            toAddOrderPage(){
              if(this.cartData.length > 0){
                window.requestAnimationFrame(()=>{
                  window.location.href ='page/add-order.html' + "?storeId=" + this.storeId
                })
              }
            },
            toUserPage(){
              window.requestAnimationFrame(()=>{
                window.location.href= 'page/user.html'
              })
            },
            async dishDetails(item){
              console.log(item)
              //先清除对象数据，如果不行的话dialog使用v-if
              this.detailsDialog.item = {}
              // this.setMealDialog.item = {}
              if(String(item.type)==='1'){//Array.isArray(item.flavors)
                this.detailsDialog.item = item
                this.detailsDialog.show = true
              }else if (String(item.type)==='2'){
                //显示套餐的数据
                const res = await setMealDishDetailsApi(item.id)
                if(res.code === 1){
                  console.log("1")

                  this.detailsDialog.item = {...item,list:res.data}
                  console.log(this.detailsDialog.item)
                  this.detailsDialog.show = true
                }else{
                  this.$notify({ type:'warning', message:res.msg});
                }
              }
            },

          }
      })
  </script>
  <script>
    var cid = localStorage.getItem("fuserid"); // 取userId
    var websocket = null;
    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
      // 改成你的地址
      console.log("尝试连接")
      websocket = new WebSocket(webSocketUrl + cid);
    } else {
      alert('当前浏览器 Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
      // setMessageInnerHTML("websocket.onerror: WebSocket连接发生错误");
      thats.$notify({ type: 'warning', message: "WebSocket连接发生错误"});
      if ('WebSocket' in window) {
        // 改成你的地址
        console.log("尝试连接")
        websocket = new WebSocket(webSocketUrl + cid);
      } else {
        alert('当前浏览器 Not support websocket')
      }
    };

    //连接成功建立的回调方法
    websocket.onopen = function () {
      // setMessageInnerHTML("websocket.onopen: WebSocket连接成功");
      // thats.$notify({ type: 'success', message: "WebSocket连接成功"});
    }

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
      // setMessageInnerHTML("websocket.onmessage: " + event.data);
      thats.$notify({ type: 'warning', message: String(event.data),duration:3000+((String(event.data).length)/10)*1000});
    }

    //连接关闭的回调方法
    websocket.onclose = function () {
      // setMessageInnerHTML("websocket.onclose: WebSocket连接关闭");
      thats.$notify({ type: 'warning', message: "WebSocket连接关闭"});

      if ('WebSocket' in window) {
        // 改成你的地址
        websocket = new WebSocket(webSocketUrl + cid);
        console.log("尝试连接")
      } else {
        alert('当前浏览器 Not support websocket')
      }
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
      closeWebSocket();
    }

    //将消息显示在网页上
    // function setMessageInnerHTML(innerHTML) {
    //   document.getElementById('message').innerHTML += innerHTML + '<br/>';
    // }

    //关闭WebSocket连接
    function closeWebSocket() {
      websocket.close();
      alert('websocket.close: 关闭websocket连接')
    }

    //发送消息
    // function send() {
    //   var message = document.getElementById('text').value;
    //   try {
    //     websocket.send('{"msg":"' + message + '"}');
    //     setMessageInnerHTML("websocket.send: " + message);
    //   } catch (err) {
    //     console.error("websocket.send: " + message + " 失败");
    //   }
    // }
  </script>
  </html>
